html, body {
    font-family: Quicksand, Arial, sans-serif;
    height: 100%;
    margin: 0;
}
body {
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: 1250px;
}
a {
    color: inherit;
    text-decoration: none;
}

.page-content-grid-item, .page-header-nav, .page-header-titlebox, .page-header-titlebox-logobox-logo, .popup-content {
    border-radius: 3px;
}

.page {
    width: 100%;
}
.page-content {
    clear: both;
    margin: auto;
    max-width: 1250px;
    padding: 100px 100px 200px 100px;
}
.page-content-grid {
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
}
.page-content-grid-item {
    background-color: gray;
    cursor: pointer;
    flex: 1 0 250px;
    height: 250px;
    margin: 5px;
    overflow: hidden;
    position: relative;
    top: 0;
    transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: box-shadow,top;
}
.page-content-grid-item:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.3);
    top: -3px;
}
.page-content-grid-item-image {
    bottom: 0;
    position: absolute;
    width: 100%;
}
.page-content-grid-item-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: white;
    left: 0;
    opacity: 0;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.page-content-grid-item-overlay:hover {
    opacity: 1;
}
.page-content-grid-item-overlay-heading {
    font-size: 2.5rem;
    font-weight: 200;
    margin: 0;
}
.page-content-grid-item-overlay-meta {
    display: block;
}
.page-footer {
    background-color: gray;
    clear: both;
    height: 100px;
    padding: 25px;
    text-align: center;
}
.page-footer-nav-link {
    margin: 7.5px;
}
.page-header {
    margin: auto;
    max-width: 1250px;
    padding: 0 100px;
}
.page-header-nav {
    background-color: rgba(255, 255, 255, 0.5);
    clear: both;
    overflow: auto;
    padding: 15px 0;
    width: 100%;
}
.page-header-nav-link {
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0 20px;
    position: relative;
    top: 0;
    transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: text-shadow,top;
}
.page-header-nav-link:not(.page-header-nav-link_current):hover {
    text-shadow: 0px 4px 13px rgba(0, 0, 0, 0.3);
    top: -3px;
}
.page-header-nav-link_left {
    float: left;
}
.page-header-nav-link_right {
    float: right;
}
.page-header-titlebox {
    background-color: rgba(255, 255, 255, 0.5);
    height: 120px;
    margin: 100px 0;
    padding: 15px;
}
.page-header-titlebox-logobox {
    float: left;
    height: 100%;
    position: relative;
}
.page-header-titlebox-logobox:after {
    background-color: white;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header-titlebox-logobox:hover:after {
    opacity: 0.25;
}
.page-header-titlebox-logobox-logo {
    height: 100%;
}
.page-header-titlebox-title {
    float: left;
    font-family: Quicksand;
    
    height: 100%;
    margin: 0 0 0 30px;
    position: relative;
}
.page-header-titlebox-title-heading {
    font-size: 3.75rem;
    font-weight: 400;
    margin: 10px 0;
}
.page-header-titlebox-title-subheading {
    bottom: 0;
    font-weight: 400;
    margin: 10px 0;
    position: absolute;
}

.popup {
    bottom: 0;
    display: none;
    left: 0;
    padding: 50px;
    position: fixed;
    right: 0;
    top: 0;
}
.popup-content {
    background-color: white;
    bottom: -100vh;
    box-shadow: 0px 40px 120px 0px rgba(0,0,0,0.5);
    left: 50px;
    margin: auto;
    max-width: 700px;
    overflow: auto;
    position: absolute;
    right: 50px;
    top: 100%;
    transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: bottom,top;
}
.popup-content-body {
    padding: 50px;
}
.popup-content-body h3 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
}
.popup-content-body p {
    font-family: Roboto;
    margin: 0 0 10px 0;
}
.popup-content-body small {
    margin: 0;
}
.popup-content-close {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;
    font-size: 2rem;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: background-color 0.27s cubic-bezier(0.4, 0, 0.2, 1);
    width: 30px;
}
.popup-content-close:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.popup-content-image {
    width: 100%;
}

.open .popup-content {
    bottom: 50px;
    top: 50px;
}

#spacer1 {
    margin: 0 0 -100px 0;
    min-height: 100vh;
}

@font-face {
    font-family: 'icon';
    src: url('../font/icon.eot');
    src: url('../font/icon.eot?#iefix') format('embedded-opentype'),
         url('../font/icon.woff') format('woff'),
         url('../font/icon.ttf') format('truetype'),
         url('../font/icon.svg#icon') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 400;
    src: url('../font/Quicksand-Regular.ttf') format('truetype');
}
@font-face {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 200;
    src: url('../font/Quicksand-Light.ttf') format('truetype');
}
@font-face {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 700;
    src: url('../font/Quicksand-Bold.ttf') format('truetype');
}
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: url('../font/Roboto-Regular.ttf') format('truetype');
}