html, body {
    font-family: Quicksand, Arial, sans-serif;
    height: 100%;
    margin: 0;
}
body {
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: 1250px;
}
a {
    color: inherit;
    text-decoration: none;
}

.page-content-grid-item, .page-content-grid-item-overlay, .page-content-search-input, .page-header-nav, .page-header-titlebox, .page-header-titlebox-logo, .popup-content {
    border-radius: 3px;
}

.page {
    width: 100%;
}
.page-content {
    clear: both;
    margin: auto;
    max-width: 1250px;
    padding: 100px 100px 200px 100px;
}
.page-content-grid {
    align-content: flex-start;
    clear: both;
    display: flex;
    flex-wrap: wrap;
}
.page-content-grid-item {
    background-color: gray;
    cursor: pointer;
    flex: 1 0 250px;
    height: 250px;
    left: 0;
    margin: 5px;
    overflow: hidden;
    position: relative;
    top: 0;
    transition-duration: 0.28s, 1s, 0.28s;
    transition-property: box-shadow, opacity, top;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-content-grid-item:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.3);
    top: -3px;
}
.page-content-grid-item-image {
    bottom: 0;
    position: absolute;
    width: 100%;
}
.page-content-grid-item-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: white;
    left: 0;
    opacity: 0;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.page-content-grid-item-overlay:hover {
    opacity: 1;
}
.page-content-grid-item-overlay-heading {
    font-size: 2.5rem;
    font-weight: 200;
    margin: 0;
}
.page-content-grid-item-overlay-meta {
    display: block;
}
.page-content-search {
    float: right;
    margin: 0 10px 30px 0;
}
.page-content-search-icon {
    cursor: pointer;
    opacity: 0.3;
    transition: opacity 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.page-content-search-input {
    border: 1px solid black;
    box-shadow: 0;
    font-family: Roboto;
    margin: 0 10px 0 0;
    opacity: 0.3;
    outline: 0;
    padding: 5px;
    transition: opacity 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.page-content-search-input:focus, .page-content-search-input:focus + .page-content-search-icon {
    opacity: 1;
}
.page-footer {
    background-color: gray;
    clear: both;
    height: 100px;
    padding: 25px;
    text-align: center;
}
.page-footer-nav-link {
    margin: 7.5px;
}
.page-header {
    margin: auto;
    max-width: 1250px;
    padding: 0 100px;
}
.page-header-nav {
    background-color: rgba(255, 255, 255, 0.5);
    clear: both;
    overflow: auto;
    padding: 15px 0;
    width: 100%;
}
.page-header-nav-link {
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0 20px;
    position: relative;
    top: 0;
    transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: text-shadow,top;
}
.page-header-nav-link:not(.page-header-nav-link_current):hover {
    text-shadow: 0px 4px 13px rgba(0, 0, 0, 0.3);
    top: -3px;
}
.page-header-nav-link_left {
    float: left;
}
.page-header-nav-link_right {
    float: right;
}
.page-header-titlebox {
    background-color: rgba(255, 255, 255, 0.5);
    height: 120px;
    margin: 100px 0;
    padding: 15px;
}
.page-header-titlebox-logo {
    float: left;
    height: 100%;
    transition: opacity 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header-titlebox-logo:hover {
    opacity: 0.5;
}
.page-header-titlebox-logobox-logo {
    height: 100%;
}
.page-header-titlebox-title {
    float: left;
    font-family: Quicksand;
    height: 100%;
    margin: 0 0 0 30px;
    position: relative;
}
.page-header-titlebox-title-heading {
    font-size: 3.75rem;
    font-weight: 400;
    margin: 10px 0;
}
.page-header-titlebox-title-subheading {
    bottom: 0;
    font-weight: 400;
    margin: 10px 0;
    position: absolute;
}

.popup {
    bottom: 0;
    display: none;
    left: 0;
    padding: 50px;
    position: fixed;
    right: 0;
    top: 0;
}
.popup-content {
    background-color: white;
    bottom: -100vh;
    box-shadow: 0px 40px 120px 0px rgba(0,0,0,0.5);
    left: 50px;
    margin: auto;
    max-width: 700px;
    overflow: auto;
    position: absolute;
    right: 50px;
    top: 100%;
    transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: bottom,top;
}
.popup-content-body {
    padding: 50px;
}
.popup-content-body h3 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
}
.popup-content-body p {
    font-family: Roboto;
    margin: 0 0 10px 0;
}
.popup-content-body small {
    margin: 0;
}
.popup-content-header {
    line-height: 0;
    position: relative;
}
.popup-content-header-close {
    background-color: rgba(0, 0, 0, 0.2);
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
}
.popup-content-header-close-icon {
    cursor: pointer;
    font-size: 2rem;
    line-height: 30px;
    text-align: center;
    transition: background-color 0.27s cubic-bezier(0.4, 0, 0.2, 1);
}
.popup-content-header-close-icon:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.popup-content-header-image {
    width: 100%;
}
.popup-content-header-toolbar {
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    height: 40px;
    left: 0;
    position: absolute;
    right: 0;
}
.popup-content-header-toolbar > * {
    height: 100%;
    line-height: 40px;
}
.popup-content-header-toolbar-icon {
    float: left;
    font-size: 1.4rem;
    text-align: center;
    width: 18px;
}
.popup-content-header-toolbar-icon, .popup-content-header-toolbar-share-icon {
    cursor: pointer;
    padding: 0 12px;
    transition: background-color 0.27s cubic-bezier(0.4, 0, 0.2, 1);
}
.popup-content-header-toolbar-icon:hover, .popup-content-header-toolbar-share-icon:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.popup-content-header-toolbar-progress {
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    overflow: hidden;
    padding: 12px 12px;
}
.popup-content-header-toolbar-progress-bar {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.popup-content-header-toolbar-progress-bar-loaded {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    position: absolute;
    top: 0;
    width: 0;
}
.popup-content-header-toolbar-progress-bar-played {
    background-color: black;
    height: 100%;
    position: absolute;
    top: 0;
    width: 0;
}
.popup-content-header-toolbar-progress-time {
    height: 100%;
    float: right;
    line-height: 100%;
    margin: 0 0 0 12px;
    min-width: 90px;
    text-align: center;
}
.popup-content-header-toolbar-share {
    float: right;
}
.popup-content-header-toolbar-share-icon {
    float: left;
    font-size: 1.2rem;
}

.hide.page-content-grid-item {
    opacity: 0;
}
.open .popup-content {
    bottom: 50px;
    top: 50px;
}
.white {
    color: white
}
.white .popup-content-header-close {
    background-color: rgba(0, 0, 0, 0.4);
}
.white .popup-content-header-close-icon:hover {
    background-color: rgba(0, 0, 0, 0.4);
}
.white .popup-content-header-toolbar {
    background-color: rgba(0, 0, 0, 0.4);
}
.white .popup-content-header-toolbar-icon:hover, .white .popup-content-header-toolbar-share-icon:hover {
    background-color: rgba(0, 0, 0, 0.4);
}
.white .popup-content-header-toolbar-progress {
    border-right: 1px solid rgba(255, 255, 255, 0.6);
}
.white .popup-content-header-toolbar-progress-bar, .white .popup-content-header-toolbar-progress-bar-loaded {
    background-color: rgba(255, 255, 255, 0.2)
}
.white .popup-content-header-toolbar-progress-bar-played {
    background-color: white;
}

.icon {
    font-family: icon;
    font-style: normal;
}
#spacer1 {
    margin: 0 0 -100px 0;
    min-height: 100vh;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) { 
    body {
        background-image: url('../img/background-3x.png');
    }
}

@font-face {
    font-family: icon;
    src: url('../font/icon.eot');
    src: url('../font/icon.eot?#iefix') format('embedded-opentype'),
         url('../font/icon.woff') format('woff'),
         url('../font/icon.ttf') format('truetype'),
         url('../font/icon.svg#icon') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 400;
    src: url('../font/Quicksand-Regular.ttf') format('truetype');
}
@font-face {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 200;
    src: url('../font/Quicksand-Light.ttf') format('truetype');
}
@font-face {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 700;
    src: url('../font/Quicksand-Bold.ttf') format('truetype');
}
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: url('../font/Roboto-Regular.ttf') format('truetype');
}