:root {
    --backdrop-filter: blur(12px);
    --background-color-dark: rgba(0, 0, 0, 0.4);
    --background-color-dark-focus: rgba(0, 0, 0, 0.6);
    --background-color-light: rgba(255, 255, 255, 0.6);
    --border-radius: 12px;
    --transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
html, body {
    font-family: Roboto, Helvetica, system-ui, sans-serif;
    margin: 0;
    min-height: 100%;
}
body {
    background-attachment: fixed;
    background-image: url('../img/background/background.jpg');
    background-repeat: no-repeat;
    background-size: 1350px;
}
a {
    color: inherit;
    text-decoration: none;
}
address {
    font-style: initial;
}

.page-content, .page-content-about img, .page-content-aside-portrait, .page-content-aside-search-inputbox-input, .page-content-grid, .page-content-grid-item, .page-content-grid-item-overlay, .page-content-search-input, .page-nav, .page-header, .page-header-logo, .modal, .modal-header-toolbar-player-progress, .alert-content {
    border-radius: var(--border-radius);
}
.page-content a, .alert a, .modal-body a {
    font-weight: 700;
    opacity: 1;
    transition: var(--transition);
    transition-property: opacity;
}
.page-content a:focus-visible, .page-content a:hover, .alert a:focus-visible, .alert a:hover, .modal-body a:focus-visible, .modal-body a:hover {
    opacity: 0.75;
}

.page {
    display: grid;
    grid-template-columns: [page-start] minmax(100px, 1fr) [content-start] max(1250px) [content-end] minmax(100px, 1fr) [page-end];
    grid-template-rows: [page-start] 100px [header-start] auto [header-end] 100px [nav-start] auto [nav-end] 100px [content-start] auto [content-end] 100px [footer-start] auto [footer-end page-end];
}
.page-content {
    grid-area: content;
    min-height: 500px;
    position: relative;
}
.page_about .page-content, .page_filmography .page-content, .page_recordings .page-content {
    background-color: var(--background-color-light);
}
.page_about .page-content {
    overflow: hidden;
}
.page_filmography .page-content {
    box-sizing: border-box;
    overflow: hidden;
    padding: 15px;
}
.page_recordings .page-content {
    box-sizing: border-box;
    padding: 12px;
}
.page-content-about {
    padding: 30px;
    text-wrap: pretty;
}

.page-content-about h5 {
    font-size: 1.8rem;
    font-weight: 200;
    margin: 10px 0;
    text-wrap: balance;
}
.page-content-about img {
    float: left;
    margin: 5px 20px 30px 0;
    transition: var(--transition);
    transition-property: width;
    width: 400px;
}
.page-content-about p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    transition: var(--transition);
    transition-property: font-size, line-height;
}
.page-content-about strong {
    font-weight: 500;
}
.page-content-aside {
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    float: right;
    margin: 30px 0 30px 30px;
    padding: 30px 30px 15px 30px;
    transition: var(--transition);
    transition-property: padding, width;
    width: 350px;
}
.page-content-aside-contact {
    font-size: 1.2rem;
    line-height: 30px;
    margin: 15px 0;
}
.page-content-aside-contact-detail {
    display: block;
    opacity: 0.75;
    margin-bottom: 5px;
}
.page-content-aside-contact-detail-icon {
    display: inline-block;
    vertical-align: middle;
    width: 25px;
}
.page-content-aside-portrait {
    width: 100%;
}
.page-content-aside-social * {
    margin: 2px 6px 2px 0px;
}
.page-content-aside-social-button {
    position: relative;
}
.page-content-aside-social-button.fb-like {
    top: -3px;
}
.page-content-aside-social-link {
    font-size: 1.8rem;
    font-weight: 400;
}
.page-content-embed {
    margin-bottom: 10px;
}
.page-content-frame {
    box-sizing: border-box;
    float: left;
    font-size: 1.1rem;
    min-width: 50%;
    padding: 15px;
    transition: var(--transition);
    transition-property: padding;
}
.page-content-frame-heading {
    font-family: Quicksand;
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0 0 15px 0;
}
.page-content-frame-list {
    list-style-type: none;
    padding-left: 15px;
}
.page-content-frame-list > li {
    margin-bottom: 10px;
}
.page-content-frame-list > li > ul > li {
    font-size: 0.9rem;
    margin-top: 5px;
}
.page-content-frame-list h5, .page-content-frame-list h5 a {
    display: inline;
    font-weight: 400;
    font-size: 1.2rem;
    transition: var(--transition);
    transition-property: font-size, opacity;
}
.page-content-grid {
    background-color: rgba(255, 255, 255, 0.6);
    clear: both;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    min-height: 100px;
    overflow: visible;
    padding: 6px;
}
.page-content-grid-item {
    animation-fill-mode: forwards !important;
    background-color: rgba(191, 191, 191, 0.5);
    cursor: pointer;
    flex: 1 0 250px;
    height: 250px;
    margin: 6px;
    max-width: 400px;
    overflow: clip;
    position: relative;
    transform-origin: left;
    transition-duration: 0.28s, 0.28s, 0.28s, 1s;
    transition-property: box-shadow, flex-basis, height, opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-content-grid-item:focus-visible, .page-content-grid-item:hover, .page-content-grid-item_focus-visible {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.3);
}
.page-content-grid-item:active {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.4);
}
.page-content-grid-item-image {
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.align-top .page-content-grid-item-image {
    object-position: top;
}
.page-content-grid-item-overlay {
    backdrop-filter: var(--backdrop-filter);
    background-color: var(--background-color-dark);
    color: white;
    display: flex;
    flex-direction: column;
    font-family: Quicksand;
    gap: 3px;
    inset: 0;
    opacity: 0;
    padding: 20px;
    position: absolute;
    transition: var(--transition);
    transition-property: opacity;
}
.page-content-grid-item:focus-visible .page-content-grid-item-overlay, .page-content-grid-item-overlay:hover, .page-content-grid-item_focus-visible .page-content-grid-item-overlay {
    opacity: 1;
}
.page-content-grid-item-overlay-name {
    font-size: 40px;
    font-weight: 400;
    line-height: 42px;
    margin: 0;
}
.page-content-grid-item-overlay-date {
    display: block;
    font-weight: 500;
    margin: 0;
}
.page-content-grid-item-overlay-instrumentation {
    font-size: 0.8rem;
    font-style: italic;
    font-weight: normal;
    margin: 0;
    overflow: clip;
    text-overflow: ellipsis;
    text-wrap: balance;
}
.page-content-search {
    margin-bottom: 25px;
    margin-right: 10px;
    bottom: 100%;
    position: absolute;
    right: 0;
    transition: var(--transition);
    transition-property: opacity;
}
.page-content-search-icon {
    cursor: pointer;
    display: inline-block;
    opacity: 0.3;
    transition: var(--transition);
    transition-property: opacity;
}
.page-content-search-input {
    border: 1px solid black;
    box-shadow: none;
    box-sizing: border-box;
    height: 25px;
    margin: 0 10px;
    opacity: 0.3;
    outline: 0;
    padding: 5px;
    transition: var(--transition);
    transition-property: opacity;
}
.page-content-search-input:focus-visible, .page-content-search-input:focus-visible + .page-content-search-icon {
    opacity: 1;
}
.page-footer {
    background-color: #262626;
    color: white;
    grid-column: page;
    grid-row: footer;
    height: 120px;
    padding: 50px;
    position: relative;
    text-align: center;
}
.page-footer-logo, .page-footer-nav {
    left: 0;
    position: absolute;
    right: 0;
}
.page-footer-logo {
    bottom: 50px;
    font-family: Quicksand;
    font-size: 2.5rem;
    font-weight: normal;
    margin: 0;
}
.page-footer-nav {
    font-family: Quicksand;
    font-size: 1rem;
    line-height: 25px;
    margin: 0;
    top: 30px;
}
.page-footer-nav-link {
    margin: 12px;
    text-transform: uppercase;
}
.page-footer-text {
    bottom: 20px;
    font-size: 0.9rem;
    left: 0;
    margin: 0;
    opacity: 0.5;
    position: absolute;
    right: 0;
}
.page-nav {
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    gap: 40px;
    grid-column: content;
    grid-row: nav;
    padding: 15px 20px;
}
.page-nav-link {
    font-family: Quicksand;
    font-size: 1.2rem;
    font-weight: bold;
    opacity: 0.75;
    text-transform: uppercase;
    transition: var(--transition);
    transition-property: opacity, text-decoration;
}
.page-nav-link u {
    border-bottom-color: rgba(0, 0, 0, 0);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    text-decoration: none;
    transition: var(--transition);
    transition-property: border-bottom-color;
}
.page-nav-link_current {
    opacity: 1;
}
.page .page-nav-link_current u {
    border-bottom-color: rgba(0, 0, 0, 1);
}
.page-nav-link:not(.page-nav-link_current):focus-visible, .page-nav-link:not(.page-nav-link_current):hover {
    opacity: 1;
}
.page-nav-link:not(.page-nav-link_current):focus-visible u, .page-nav-link:not(.page-nav-link_current):hover u {
    border-bottom-color: rgba(0, 0, 0, 1);
}
.page-nav-link_right {
    margin-left: auto;
}
.page-header {
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    gap: 30px;
    grid-column: content;
    grid-row: header;
    height: 120px;
    padding: 15px;
}
.page-header-logo_link {
    height: 100%;
}
.page-header-logo {
    height: 100%;
    opacity: 0.75;
    transition: var(--transition);
    transition-property: opacity;
}
.page-header-logo_link:focus-visible .page-header-logo, .page-header-logo:hover {
    opacity: 1;
}
.page-header-title {
    font-family: Quicksand;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    text-transform: uppercase;
}
.page-header-title-heading {
    font-size: clamp(1.625rem, 3vw + 1rem, 3.75rem);
    font-weight: 400;
    line-height: 100%;
    margin: 0;
}
.page-header-title-subheading {
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    margin: 0;
}

.alert {
    bottom: 0;
    left: 0;
    padding: 50px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
}
.alert {
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity;
}
.alert.open {
    opacity: 1;
}
.alert_no-id, .alert_no-load {
    opacity: 0;
    pointer-events: none;
}
.alert-content, .modal {
    background-color: white;
    box-shadow: 0 40px 120px 0 rgba(0,0,0,0.5);
    margin: auto;
}
.alert-content {
    left: 50px;
    max-width: 400px;
    overflow: auto;
    padding: 50px;
    position: absolute;
    right: 50px;
    top: 50px;
    transition: var(--transition);
    transition-property: left, padding, right, top;
}
.alert-content-body {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-bottom: 0;
}
.alert-content-button {
    float: right;
    font-size: 1.2rem;
    margin: 20px 0 0 20px;
    text-transform: uppercase;
}
.alert-content-heading {
    font-family: Quicksand;
    font-size: 2.5rem;
    font-weight: normal;
    margin: 0;
}
.modal {
    border: 0;
    margin: 50px auto;
    max-height: calc(100% - 100px);
    /* max-width: 750px; */
    opacity: 0;
    overscroll-behavior: contain;
    padding: 0;
    scrollbar-width: thin;
    transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity;
    width: min(100% - 100px, 750px);
    /* will-change: transform; */
}
.modal.open {
    opacity: 1;
}
.modal.hide {
    opacity: 0;
    pointer-events: none;
}
.modal::backdrop {
    backdrop-filter: blur(12px);
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    padding: 50px;
    transition: 0.4s,0.27s cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity, padding;
}
.modal.open::backdrop {
    opacity: 1;
}
.modal-body {
    font-size: 1.1rem;
    padding: 50px;
    position: relative;
    text-wrap: pretty;
}
.modal-body blockquote {
    font-style: italic;
    line-height: 1.7rem;
    margin: 2rem;
}
.modal-body h3 {
    font-family: Quicksand;
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0;
}
.modal-body h4 {
    font-size: 0.8rem;
    font-style: italic;
    font-weight: normal;
    margin: 5px 0 25px 0;
}
.modal-body p {
    line-height: 1.7rem;
}
.modal-body small {
    font-family: Quicksand;
    font-weight: 600;
}
.modal-body-video {
    height: 0;
    overflow: clip;
    padding-bottom: 56.25%;
    padding-top:30px;
    position: relative;
    width: 100%;
}
.modal-body-video iframe {
  	height:100%;
    left:0;
    margin: 0;
    position:absolute;
    top:0;
    width:100%;
}
.modal-header {
    color: white;
    line-height: 0;
    position: relative;
}
.modal-credit {
    float: right;
    font-size: 0.8rem;
    margin: 10px;
    opacity: 0.75;
}
.modal-header-arrow, .modal-header-close, .modal-header-toolbar {
    background-color: var(--background-color-dark);
    backdrop-filter: var(--backdrop-filter);
}
.modal-header-arrow:focus-visible, .modal-header-arrow:hover, .modal-header-close:focus-visible, .modal-header-close:hover, .alert-content-close:focus-visible, .alert-content-close:hover {
    background-color: var(--background-color-dark-focus);
}
.modal-header-arrows {
    align-items: center;
    display: flex;
    inset: 50% 0;
    justify-content: space-between;
    position: absolute;
}
.modal-header-arrow {
    color: white;
    cursor: default;
    font-family: Quicksand;
    font-size: 80px;
    font-weight: normal;
    height: 50px;
    opacity: 1;
    overflow: clip;
    text-align: center;
    transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, opacity;
    width: 30px;
}
.modal-header-arrow_disabled {
    opacity: 0;
}
.modal-header-arrow-icon {
    display: inline-block;
    line-height: 50px;
    opacity: 1;
    transform: translateY(-9px);
    width: 100%;
}
.modal-header-arrow:not(.modal-header-arrow_disabled) {
    cursor: pointer;
}
.modal-header-arrow_left {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
.modal-header-arrow_right {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.modal-header-close, .alert-content-close {
    border-bottom-left-radius: var(--border-radius);
    height: 30px;
    overflow: clip;
    position: absolute;
    right: 0;
    top: 0;
    transition: var(--transition);
    transition-property: background-color;
    width: 30px;
}
.modal-header-close-icon, .alert-content-close-icon {
    cursor: pointer;
    font-family: Quicksand;
    font-size: 32px;
    line-height: 30px;
    text-align: center;
    transform: translateY(-1px);
}

.modal-header-image {
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0);
    object-fit: cover;
    width: 100%;
}
.modal-header-toolbar {
    bottom: 0;
    display: grid;
    grid-template-areas: "player share";
    grid-template-columns: 1fr auto;
    height: 40px;
    left: 0;
    overflow: clip;
    position: absolute;
    right: 0;
}
.modal-header-toolbar > * {
    height: 40px;
    line-height: 40px;
}
.modal-header-toolbar-player-play, .modal-header-toolbar-share-icon {
    cursor: pointer;
    padding: 0 12px;
    transition: var(--transition);
    transition-property: background-color;
}
.modal-header-toolbar-player-play:focus-visible, .modal-header-toolbar-player-play:hover, a:focus-visible > .modal-header-toolbar-share-icon, .modal-header-toolbar-share-icon:hover {
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-header-toolbar-player {
    border-right: 1px solid rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
    display: flex;
    grid-area: player;
    overflow: clip;
}
.modal-header-toolbar-player-play {
    font-size: 22.4px;
    text-align: center;
    width: 20px;
}
.modal-header-toolbar-player-progress, .modal-header-toolbar-player-progress-loaded {
    background-color: rgba(0255, 255, 255, 0.2);
}
.modal-header-toolbar-player-progress {
    cursor: pointer;
    flex-grow: 1;
    height: 20px;
    margin: 10px;
    overflow: clip;
    position: relative;
}
.modal-header-toolbar-player-progress-loaded {
    height: 100%;
    position: absolute;
    top: 0;
    transition: var(--transition);
    transition-property: width;
    width: 0;
}
.modal-header-toolbar-player-progress-played {
    background-color: white;
    height: 100%;
    position: absolute;
    top: 0;
    transition: var(--transition);
    transition-property: width;
    width: 0;
}
.modal-header-toolbar-player-time {
    font-size: 16px;
    height: 40px;
    line-height: 100%;
    margin: 12px 8px 12px 0;
    min-width: 90px;
    text-align: center;
}
.modal-header-toolbar-share {
    display: flex;
    grid-area: share;
    justify-content: center;
    overflow: clip;
}
.modal-header-toolbar-share-icon {
    font-size: 19.2px;
}

.hide_search {
    opacity: 0;
    pointer-events: none;
    overflow: clip;
}
.hide {
    opacity: 0;
    pointer-events: none;
}
/* .light {
    color: black
}
.light .modal-header-close, .light .modal-header-close:focus-visible .modal-header-close-icon, .light .modal-header-close:hover .modal-header-close-icon, .light .modal-header-toolbar, .light .modal-header-toolbar-player-play:focus-visible, .light .modal-header-toolbar-player-play:hover, .light a:focus-visible > .modal-header-toolbar-share-icon, .light .modal-header-toolbar-share-icon:hover, .light .modal-header-toolbar-player-progress, .light .modal-header-toolbar-player-progress-loaded {
    background-color: rgba(0, 0, 0, 0.2);
}
.light .modal-header-toolbar-player {
    border-right: 1px solid rgba(0, 0, 0, 0.4);
}
.light .modal-header-toolbar-player-progress-played {
    background-color: black;
} */

.icon {
    font-family: icon;
    font-style: normal;
}
.brand {
    font-family: brand;
    font-style: normal;
}

@keyframes search_animate {
    to {
        transform: translate(0, 0) scale(1, 1);
    }
}

@media (max-width: 1500px) {
    .page {
        grid-template-columns: [page-start] minmax(75px, 1fr) [content-start] minmax(auto, 1250px) [content-end] minmax(75px, 1fr) [page-end];
        grid-template-rows: [page-start] 75px [header-start] auto [header-end] 75px [nav-start] auto [nav-end] 75px [content-start] auto [content-end] 100px [footer-start] auto [footer-end page-end];
    }
    .page-content-aside {
        width: 300px;
    }
    .page-content-about img {
        width: 350px;
    }
    .page-content-grid-item {
        flex-basis: 240px;
        height: 240px;
    }
    .page-content-grid-item-overlay {
        padding: 15px;
    }
    .page-content-grid-item-overlay-name {
        font-size: 2.25rem;
        line-height: 38px;
    }
    .page-content-search {
        margin-bottom: 10px;
    }
    .page-header {
        gap: 20px;
        height: 100px;
    }
    .page-header-title {
        gap: 5px;
    }
    .page-header-title-heading {
        /* font-size: 55px; */
    }
    .page-header-title-subheading {
        font-size: 24px;
    }
}
@media (max-width: 1350px) {
    body {
        background-size: 100%;
    }
}
@media (max-width: 1250px) {
    .page {
        grid-template-columns: [page-start] minmax(50px, 1fr) [content-start] minmax(auto, 1250px) [content-end] minmax(50px, 1fr) [page-end];
        grid-template-rows: [page-start] 50px [header-start] auto [header-end] 50px [nav-start] auto [nav-end] 50px [content-start] auto [content-end] 100px [footer-start] auto [footer-end page-end];
    }
    .page-content-grid-item {
        flex-basis: 225px;
        height: 225px;
    }
    .page-content-search {
        bottom: 0;
        float: right;
        margin-bottom: 10px;
        position: relative;
    }
}
@media (max-width: 1000px) {
    body {
        background-image: none;
    }
    .page {
        grid-template-columns: [page-start] minmax(20px, 1fr) [content-start] minmax(auto, 1250px) [content-end] minmax(20px, 1fr) [page-end];
        grid-template-rows: [page-start] 20px [header-start] auto [header-end] 10px [nav-start] auto [nav-end] 20px [content-start] auto [content-end] 100px [footer-start] auto [footer-end page-end];
    }
    .page-content{
        background-color: rgba(255, 255, 255, 0.6);
    }
    .page-content {
        border-radius: 0;
    }
    .page-content-about img {
        margin-bottom: 5px;
    }
    .page-content-grid {
        background-color: transparent;
    }
    .page-nav {
        background-color: white;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 0;
        position: sticky;
        top: 0;
        z-index: 10;
    }
    .page-header {
        background-color: transparent;
        border-radius: 0;
    }
}
@media (max-width: 800px) {
  .page-content-about img {
      width: 300px;
  }
  .page-content-aside {
      padding: 20px;
      width: 250px;
  }
}
@media (max-width: 700px) {
    .page {
        grid-template-columns: [page-start] minmax(10px, 1fr) [content-start] minmax(auto, 1250px) [content-end] minmax(10px, 1fr) [page-end];
        grid-template-rows: [page-start] 10px [header-start] auto [header-end] 0 [nav-start] auto [nav-end] 20px [content-start] auto [content-end] 100px [footer-start] auto [footer-end page-end];
    }
    .page-content-about {
        padding: 15px;
    }
    .page-content-about h3 {
        font-size: 2rem;
    }
    .page-content-grid-item {
        flex-basis: 200px;
        height: 200px;
    }
    .page-content-grid-item-overlay {
        padding: 10px;
    }
    .page-content-grid-item-overlay-name {
        font-size: 2rem;
        line-height: 35px;
    }
    .page-header {
        height: 80px;
        gap: 15px;
    }
    .page-header-title {
        gap: 3px;
    }
    .page-header-title-heading {
        /* font-size: 40px; */
        font-weight: 500;
    }
    .page-header-title-subheading {
        font-size: 20px;
        font-weight: 600;
    }

    .modal {
        margin: 0;
        min-height: 100%;
        min-width: 100%;
    }
}
@media (max-width: 650px) {
    .page_filmography .page-content {
        padding: 7.5px;
    }
    .page-content-frame {
        padding: 10px 7.5px;
    }
}
@media (max-width: 600px) {
    .page-content-about img {
        display: block;
        float: none;
        margin: auto;
        max-width: 400px;
        width: 100%;
    }
    .page-content-about-image {
        margin: 0 -15px;
    }
    .page-content-aside {
        border: none;
        float: none;
        margin: auto;
        max-width: 300px;
        width: auto;
    }
}
@media (max-width: 550px) {
    .alert-content {
        padding: 15px;
    }
}
@media (max-width: 500px) {
    .page-header {
        height: 60px;
    }
    .page-header-title-heading {
        /* font-size: 32px; */
        font-weight: 600;
    }
    .page-header-title-subheading {
        font-size: 18px;
    }
}
@media (max-width: 450px) {
    .page-content-grid-item {
        flex-basis: 100%;
        flex-shrink: 1;
        height: 115px;
    }
    .page-content-grid-item-overlay {
        opacity: 1;
    }
    .page-content-grid-item-overlay-name {
        font-size: 1.6rem;
        line-height: 28px;
    }
    .page-content-grid-item-overlay-instrumentation {
        margin-bottom: 3px;
        margin-top: auto;
    }

    .modal-body {
        clear: both;
        padding: 0 25px 25px 25px;
    }
    .modal-body h3 {
        font-size: 2.2rem;
    }
    .modal-header-image {
        max-height: 250px;
    }
    .modal-header-toolbar {
        grid-template-areas: "share" "player";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 80px;
    }
    .modal-header-toolbar-player {
        border-right: none;
    }
}
@media (max-width: 400px) {
    .page {
        grid-template-columns: [page-start] minmax(5px, 1fr) [content-start] minmax(auto, 1250px) [content-end] minmax(5px, 1fr) [page-end];
        grid-template-rows: [page-start] 5px [header-start] auto [header-end] 0 [nav-start] auto [nav-end] 20px [content-start] auto [content-end] 100px [footer-start] auto [footer-end page-end];
    }
    .page-nav {
        flex-direction: column;
        gap: 10px;
        padding: 20px;
    }
    .page-nav-link_right {
        margin-left: 0;
    }

    .page-header {
        height: 50px;
    }
    .page-header-title {
        gap: 2px;
    }
    .page-header-title-heading {
        /* font-size: 28px; */
    }
    .page-header-title-subheading {
        font-size: 15px;
    }

    .alert-content {
        left: 15px;
        right: 15px;
        top: 15px;
    }
}
@media (max-width: 325px) {
    .page-header {
        height: 40px;
    }
    .page-header-title-heading {
        /* font-size: 26px; */
    }
    .page-header-title-subheading {
        display: none;
    }
    .page-content-grid-item-overlay-instrumentation {
        white-space: nowrap;
    }
}
@media (max-height: 400px) {
    .modal {
        margin-bottom: 0;
        margin-top: 0;
        max-height: 100%;
    }
}


@font-face {
    font-family: icon;
    font-style: normal;
    font-weight: 900;
    src: url('../font/fa-solid-900.woff2') format('woff2');
}
@font-face {
    font-family: brand;
    font-style: normal;
    font-weight: 400;
    src: url('../font/fa-brands-400.woff2') format('woff2');
}
@font-face {
    font-family: Quicksand;
    font-weight: 100 900;
    src: url('/font/Quicksand.woff2') format('woff2 supports variations'),
         url('/font/Quicksand.woff2') format('woff2-variations');
}
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    src: url('/font/Roboto-Light.woff2') format('woff2');
}
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: url('/font/Roboto-Regular.woff2') format('woff2');
}
@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 400;
    src: url('/font/Roboto-Italic.woff2') format('woff2');
}
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    src: url('/font/Roboto-Medium.woff2') format('woff2');
}
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: url('/font/Roboto-Bold.woff2') format('woff2');
}
@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 700;
    src: url('/font/Roboto-BoldItalic.woff2') format('woff2');
}
